.footer {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 164px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    margin-bottom: 119px;
    max-width: revert;
    padding-top: 16px;
  }

  @media only screen and (min-width: 1150px) {
    margin-bottom: 159px;
    padding-top: 52px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-white);
  margin-bottom: 31px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 29px;
  }

  @media only screen and (min-width: 1150px) {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 42px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;

  @media only screen and (min-width: 768px) {
    max-width: 476px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}

.input {
  margin-bottom: 24px;
  background-color: var(--color-black-blue);
  border: 2px solid transparent;
  border-radius: 50px;
  height: 48px;
  padding-left: 18px;

  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  transition: box-shadow 0.1s ease-in-out;

  &::placeholder {
    color: var(--color-white);
    opacity: 0.4;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-lime-blue);
  }

  @media only screen and (min-width: 768px) {
    width: 320px;
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.errorMessage {
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: var(--color-red);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  top: 47px;

  //   display: none;
  //   visibility: hidden;

  @media only screen and (min-width: 768px) {
    top: 52px;
    left: 145px;
  }

  @media only screen and (min-width: 1150px) {
  }
}

.error .input {
  border: 2px solid var(--color-red);
}

.error .errorMessage {
  display: revert;
  visibility: revert;
}

.btn {
  border: 2px solid transparent;
  border-radius: 50px;

  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-black-blue);
  background-color: var(--color-lime-blue);
  height: 48px;
  cursor: pointer;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-lime-blue);
  }

  @media only screen and (min-width: 768px) {
    width: 140px;
  }
}

.img {
  display: none;
  visibility: hidden;

  @media only screen and (min-width: 768px) {
    display: revert;
    visibility: revert;
    height: 140px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-61%);
  }

  @media only screen and (min-width: 1150px) {
    height: revert;
    transform: translateX(-56.5%);
  }
}
