// // // // //

.section {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 144px auto;
  padding: 0 24px;

  @media only screen and (min-width: 768px) {
    max-width: 621px;
  }

  @media only screen and (min-width: 1150px) {
    max-width: 968px;
    margin-bottom: 203px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-white);
  margin-bottom: 27px;

  @media only screen and (min-width: 1150px) {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 24px;
  }
}

.p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-gray);
  margin-bottom: 79px;

  @media only screen and (min-width: 1150px) {
    max-width: 540px;
    margin: 0 auto 105px auto;
  }
}

// // // // //

.wrapper {
  text-align: left;

  @media only screen and (min-width: 1150px) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.card {
  border-radius: 8px;
  padding: 49px 30px 32px 30px;
  position: relative;

  max-width: 445px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding: 39px 38px 48px 38px;
  }

  @media only screen and (min-width: 1150px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card.free {
  background-color: var(--color-black-blue);
  margin-bottom: 65px;

  @media only screen and (min-width: 768px) {
    height: 425px;
  }

  @media only screen and (min-width: 1150px) {
    margin-bottom: 0;
  }
}

.card.paid {
  background-color: var(--color-lime-blue);

  @media only screen and (min-width: 768px) {
    padding-top: 61px;
    height: 449px;
  }
}

.icon {
  position: absolute;
  z-index: 1;
}

.free .icon {
  top: -23px;
  left: 30px;
}

.paid .icon {
  top: -32.5px;
  left: 37px;
}

.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 19px;
}

.free {
  color: var(--color-white);
}

.paid {
  color: var(--color-bg);
}

.text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 26px;
}

.price {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 19px;
}

.month {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin-left: 7.5px;
  opacity: 0.6;

  position: relative;
  bottom: 8.5px;
}

.list {
  list-style: none;
}

.item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.iconCheck {
  margin-right: 15px;
}

// // // // //
